.product-listing {
    display: flex;
    flex-direction: column;
}

.product-listing-body {
    display: flex;
    background-color: var(--color-text-lighter-grey);
    width: 100%;
}

.filter-container {
    background-color: var(--primary-bg);
}

.secondary-container {
    display: flex;
    flex-direction: column;
}

.sidebar-responsive {
    padding: 1rem 1rem 0 0;
    cursor: pointer;
    display: none;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
}

/* Media */

@media screen and (max-width: 1024px) {

    

}

@media screen and (max-width: 768px) {

    .sidebar-responsive {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem 1rem 0 0;
        cursor: pointer;
    }

    .sidebar-responsive span {
        border: 1px solid var(--color-grey);
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        background-color: var(--color-grey);
        color: var(--primary-bg);
    }

    .filter-icn {
        margin-left: 0.5rem;
    }

    .filter-container {
        display: none;
    }

    .filter-container-active {
        position: fixed;
        z-index: 1;
        margin: 0;
    }
}