.product-card {
    margin: 1rem;
    border: 1px solid var(--color-hover-grey);
    border-radius: 0.4rem;
    background-color: var(--primary-bg);
    cursor: pointer;
    max-width: 20rem;
    padding: 1rem;
}

.card-top-half {
    text-align: center;
    position: relative;
}

.product-fav-icn {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border: 1px solid var(--color-grey);
    border-radius: 50%;
    padding: 0.25rem;
    font-size: 1.2rem;
}

.fav-active {
    color: var(--color-highlight-orange);
    border: 1px solid var(--color-hover-grey);
    background-color: var(--primary-bg);
}

.product-asset-container {
    background-color: var(--color-offline);
    padding: 1.5rem 0;
}

.product-body-asset {
    padding: 1.5rem;
    width: 40%;
}

.card-top-half-text {
    padding: 0.25rem;
}

.product-item-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-item-cta {
    width: 100%;
    padding: 1.25rem 0.5rem;
    font-size: 0.95rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-idle);
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}