.showcase-body {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.showcase-heading {
    margin-bottom: 2rem;
}

.card-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    flex-wrap: wrap;
}

.card-image {
    width: fit-content;
}

/* Media */

@media screen and (max-width: 1024px) {

    .card-container {
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 768px) {

    .showcase-body {
        margin: 0;
        padding: 1rem;
    }

    .card-parent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .card-container {
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .card-image {
        width: 30%;
        height: 20%;
    }
    
}